.font-1 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
    font-size: 60px;
}
@media only screen and (max-width: 800px) {
    .font-1 {
        font-size: 40px;
        color: black;
    }
    .header-section-cto {
        left:50px !important;
        top:500px !important;
    }
    .about-section-text {
        position: relative !important;        
     }
     .row1{
         color: black !important;
     }
     .row2 {
         color: black !important;
     }
     .read-button {
         left:37% !important;
     }
     .best-seller-section {
        margin-top: 75%;
     }
     .best-seller-wrapper {
         width:50% !important;
     }

  }
.text-center {
    text-align: center;
}
.header-section {
    position: relative;
}

.header-section-cto {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 100px;
    top:170px;
}
.header-section-cto > button {
    margin:auto;
    margin-top: 20px;
}
.header-section-img{
    width:100%;
}
.cto-button {
    height: 40px;
    width:180px;
    color: black;
    background-color: white;
    border:2px solid black;
}
.cto-button:hover {
    color: white;
    background-color: black;
    border:1px solid white;
}
.card-group {
    margin-bottom: 180px;
}
.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover ;
}

.atc-button {
    position: absolute;
    bottom: 40px;
}
.about-section > img {
    width:100%;
}
.black-text{
    color: black;
}
.about-section {
    position: relative;
}
.about-section-text {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 100px;
    top: 150px;
    margin:auto;
}
.about-text {
    width:70%;
    margin:auto;
}
.read-button {
    position:absolute;
    left: 45%;
    top: 45%;

}
.white-color {
    color:white;
}
.hide{
    display:none;
}
.blur {
    webkit-filter: blur(4px); 
    filter: blur(20px);
}

.bag-section-header > h1 {
 font-size: 100px;
 margin-bottom: 40px;
}
.co-button {
    margin-top: 50px !important;
    margin-bottom: 100px !important;
    margin: auto;
    display: block;

}
.cto-button-inversed {
    height: 50px;
    width:200px;
    color: white;
    background-color: black;
    border:2px solid white;
}
.cto-button-inversed:hover {
    color: black;
    background-color:white;
    border:1px solid black;
}
.item {
    margin:auto
}
.co-text {
    font-size: 110px;

}
.form-wrapper {
    width:90%;
    margin:auto;
    margin-bottom: 50px;
}
.best-seller-wrapper {
    width:33%;
    margin:auto;

    margin-top: 40px;
}
.best-seller-text {
    margin-top: 20px;
}
/* https://images.unsplash.com/photo-1528756514091-dee5ecaa3278?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60 */